services:
  test-terraria-backup-docker:
    image: test-terraria-backup-docker
    container_name: test-terraria-backup-docker
    volumes:
      - ./test/:/opt/terraria-backup/worlds/
    environment:
      TZ: "America/New_York"
      PUID: "${PUID}"
      PGID: "${PGID}"
      METHOD: "7zip"
      STARTTRIGGER: "1"
      CRONTIME: "*/2 * * * *"

